151_2019_07_29_TIRF_mKera_scratch_1_MMStack_Pos7_merged.ome.tif
151_2019_07_29_TIRF_mKera_scratch_1_MMStack_Pos7_piezo1.tif
151_2019_07_29_TIRF_mKera_scratch_Pos7_DIC_Mask_test.tif
src/.DS_Store
.DS_Store
.DS_Store
src/.DS_Store
src/gui/__pycache__/main_window.cpython-311.pyc
